
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
  }
  
  canvas {
    pointer-events: none;
    cursor: pointer;
    filter: blur(200px);
    transform: scale(1.3);
  }